PORT=*******
MONGODB_URI=**************
JWT_SECRET=****************
JWT_EXPIRES_IN=************
CORS_ORIGIN=***********************
RAG_SERVICE_URL=**********
GUEST_MAX_AGE_MS=**********
GUEST_CLEANUP_INTERVAL_MS=**********
MAX_ACTIVE_GUESTS=**********